@{
    ViewBag.Title = "Index";
    string username = "admin";
    string pwd = "nimda";
}

<h2>Login</h2>
<hr />
<input type="text" placeholder="Enter username"/>
<br />
<input type="password" placeholder="Enter password" />
<br />
<button>
    @Html.ActionLink("Click Login", "onLogin", new { username = username, password = pwd })
</button>
<br />
<b>@ViewBag.status</b>

